<main class="ppal_structure">
    <section class="ppal_container">
        <div class="ppal_container_img">
         <div class="ppal_text">
            <h2>Servicio de Boleteria</h2>
            <p>Su boleto de tren a tiempo</p>
         </div>
        </div>
    </section>
</main>
<!-- <h1>Urbano Tren</h1> -->
<!-- <p class="grande"> --font-maximo</p>
<p class="f1">--font-max-medios</p>
<p class="f2">--titulos</p>
<p class="f3">--font-jumbo</p>
<p class="f4">--font-xlarge</p>
<p class="f6"> --Subtitulos</p>
<p class="f7">--contenido</p>
<p class="f8">--font-small</p>
<p class="f9">--font-xsmall</p>
<p class="f10">--font-minimal</p>
<p class="f11">--font-xminimal</p>
 -->