<section class="container">
    <div class="bol_head_content text-center">
        <h2 class="head_title">Compra de Boletos</h2>
        <p class="head_subTitle">Viaje seleccionado:</p>
        <p class="head_descrip">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas fringilla
            sit amet eros sit amet vestibulum. Maecenas magna purus, cursus in ex eu, 
           ullamcorper fermentum lorem.</p>
       
    </div>
    <div class="body_content">
        <p class="body_title">Selección de boletos</p>
        <p class="body_descrip">Seleccione el tipo de boleto y marque la cantidad que desea comprar</p>
        <form action="">
            <div>
                <div class="body_type_content">
                    <div class="type_box">
                        <div class="box_title_content">
                            <p class="text-center">Basico</p>
                        </div>
                        <p class="box_price_title">precio: $15 </p>
                        <input class="box_number text-center" type="number">
                       
                    </div>
                    <div class="type_box">

                    </div>
                    <div class="type_box">

                    </div>
                    <div class="type_box">

                    </div>
                </div>
                <div>
                    <div class="body_total_content">
                        <p>Boletos seleccionados</p>
                        <p>Basico<br> 
                           menores<br> 
                           Adultos<br>
                           exonerados </p>
                        <p>TOTAL:</p>
                        <button>Pagar</button>
                    </div>
                </div>
            </div>                   
        </form>
    </div>
</section>
