<nav class="navbar_content">
   
    
    <div class="navbar-content" id="navbarSupportedContent">
        <ul class="navbar-content">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Servicios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Nosotros</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="#">Contacto</a>
          </li>
          <li class="nav-item">
            <div class="n_bottom">
              <a class="nav-link" href="">Contactanos</a>
          </div>
          </li>
        </ul>
      </div>

      <div class="navbar_title">
       
    </div>

      <div class="navbar_img_content">
        <a href="#">
            <img src="../../../assets/img/logo_verde.png" alt="">
        </a>
    </div>
</nav>
